accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altair==5.5.0
async-timeout==5.0.1
attrs==25.3.0
bitsandbytes==0.45.5
came-pytorch==0.1.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cmake==4.0.2
color-matcher==0.6.0
contourpy==1.3.2
cryptography==45.0.2
cstr==0.1.0
cycler==0.12.1
ddt==1.7.2
Deprecated==1.2.18
diffusers==0.33.1
docutils==0.21.2
einops==0.8.1
fairscale==0.4.13
ffmpy==0.3.0
filelock==3.18.0
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.5.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
hf-xet==1.1.2
huggingface-hub==0.32.0
idna==3.10
imageio==2.37.0
imagesize==1.4.1
img2texture==1.0.6
importlib_metadata==8.7.0
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kornia==0.8.1
kornia_rs==0.1.9
lazy_loader==0.4
lion-pytorch==0.2.3
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
mpmath==1.3.0
mss==10.0.0
multidict==6.4.4
narwhals==1.40.0
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.7.0.72
packaging==25.0
pilgram==1.2.1
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
prodigyopt==1.1.2
propcache==0.3.1
protobuf==6.31.0
psutil==7.0.0
pycparser==2.22
PyGithub==2.6.1
Pygments==2.19.1
PyJWT==2.10.1
PyMatting==1.1.14
PyNaCl==1.5.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
rembg==2.0.66
requests==2.32.3
rich==14.0.0
rpds-py==0.25.1
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
sentencepiece==0.2.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
soundfile==0.13.1
spandrel==0.4.1
sympy==1.14.0
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==1.0.15
tokenizers==0.19.1
toml==0.10.2
torch @ https://download.pytorch.org/whl/cu121_full/torch-2.4.1%2Bcu121-cp310-cp310-linux_x86_64.whl#sha256=f3ed9a2b7f8671b2b32a2f036d1b81055eb3ad9b18ba43b705aa34bae4289e1a
torchaudio @ https://download.pytorch.org/whl/cu121_full/torchaudio-2.4.1%2Bcu121-cp310-cp310-linux_x86_64.whl#sha256=da8c87c80a1c1376a48dc33eef30b03bbdf1df25a05bd2b1c620b8811c7b19be
torchsde==0.2.6
torchsummary==1.5.1
torchvision @ https://download.pytorch.org/whl/cu121_full/torchvision-0.19.1%2Bcu121-cp310-cp310-linux_x86_64.whl#sha256=b8cc4bf381b75522995b601e07a1b433b5fd925dc3e34a7fa6cd22f449d65379
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.43.0
typer==0.15.4
typing_extensions==4.13.2
urllib3==1.26.20
voluptuous==0.15.2
wcwidth==0.2.13
wrapt==1.17.2
yarl==1.20.0
zipp==3.21.0
